<% let useMessage; try {useMessage = message} catch {useMessage = false} %>
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', { title: "Register" }) %>
</head>
<body>
    <nav>
        <ul>
            <a href="/">Home</a>
            <a href="/auth/login">Log-in</a>
        </ul>
    </nav>
        <div class="singup-container">
            <h1>Create a new account for free</h1>
            <% if (useMessage) { %> <p><%= useMessage %></p> <% } %>
            <form action="/auth/registration" method="POST">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>
                
                <label for="displayname">Display Name:</label>
                <input type="text" name="displayname" id="displayname" required>

                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>

                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" name="confirmPassword" id="confirmPassword" required>
                
                <button type="submit">Sign up</button>
            </form>
        </div>
</body>
</html>