<% let useUser; try {useUser = user} catch {useUser = false} %>
<% let useMessage; try {useMessage = message} catch {useMessage = false} %>
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <nav>
    <div class="navbar">
        <div class="nav-links">
            <a href="/">
                <h1 id="nav-headder">Tracker App</h1>
            </a>
            <% if (useUser) { %>
                <div class="nav-user">
                    <a href="/user">[ Profile <%= user?.profile?.username %> ]</a>
                    <a href="/user/dashboard">[ Dashboard<%= user?.profile?.displayname %> ]</a>
                    <a href="/auth/logout">Log-out</a>
                </div>
                <% if (useMessage) { %>
                    <h2><%= useMessage %></h2>
                <% } %>
            <% } else { %>
                <div class="nav-user">
                    <a class="auth-link" href="/auth/login">Log-in</a>
                    <a class="auth-link" href="/auth/registration">Sign-up</a>
                </div>
            <% } %>
        </div>
    </div>
</nav>
</body>
</html>