<% let useUser; try {useUser = user} catch {useUser = false} %>
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <nav>
    <div class="navbar">
        <div class="nav-links">
            <a href="/">
                <h1 id="nav-headder">Tracker App</h1>
            </a>
            <% if (useUser) { %>
                <div class="nav-user">
                    <a href="/user"><%= user?.profile?.username %></a>
                    <a href="/user/dashboard"><%= user?.profile?.displayname %></a>
                    <a href="/auth/logout">Log-out</a>
                </div>
            <% } else { %>
                <div class="nav-user">
                    <a class="auth-link" href="/auth/login">Log-in</a>
                    <a class="auth-link" href="/auth/registration">Sign-up</a>
                </div>
            <% } %>
        </div>
    </div>
</nav>

    <h1>Welcome to the app</h1>

</body>
</html>