.container {
    display:flex;
    flex-direction:column;
    gap:4px;
    align-items:center;
    justify-content:center;
}

.jax-title {
    font-size:100pt;
    font-weight:bold;
    opacity:.1;
}

h1 {text-align: center;}

button {
    margin:0 auto;
    display:block;
    width:80px;
    margin-top:2em
}

.btn-block {
    display:flex;
    flex-direction:row;
    gap:1em;
    justify-content:center;
}